html{
  font-size: 16px;
}

.section-title {
  margin-left: 1em;
  font-size: 2em;
  padding: 1em 0em;
}

.restaurant-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.restaurant-container::-webkit-scrollbar {
  display: none;
}

.restaurant {
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.name {
  color: black;
  text-align: center;
}

.status {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: -2em;
  font-size: 2em;
}