html{
  font-size: 16px;
} 

.section-title {
  margin-top: 1em;
  font-size: 1.75em;
  font-weight: 400;
  color: #202125;
  font-weight: 500;
}

.restaurant {
  transition: transform 450ms;
  text-align: center;
}

.section-container {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.restaurant-name {
  font-weight: 500;
  font-size: 1.5em;
}

.restaurant-status {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: -2em;
  font-size: 2em;
  font-weight: 500;
}

.slick-arrow {
  font-size: 30px;
}

.slick-next, 
.slick-prev {
  top: 3.7em;
  width: 2rem;
  height: 2rem;
}

.slick-next {
  margin-right: 1rem;
}

.slick-prev {
  margin-left: 1rem;
}

.slick-list {
  margin-left: 1.5em;
  margin-right: 1.5em;
}


.slick-next:before {
  color: #000;
  content: "\2192";
  font-size: 2rem;
}
.slick-prev:before {
  color: #000;
  content: "\2190";
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  html{
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  html{
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  html{
    font-size: 9px;
  }
}

@media screen and (max-width: 200px) {
  html{
    font-size: 6px;
  }
}